.linkedin {
  color: black;
  transition: color 0.2s ease;
}

.linkedin:hover {
  color: #0b65c2;
}

.github {
  color: black;
  transition: color 0.2s ease;
}

.github:hover {
  color: rgb(190, 190, 190);
  padding: 0px;
}

.medium {
  color: black;
  transition: color 0.2s ease;
}

.medium:hover {
  color: #f9c017;
  padding: 0px;
}
